@{
    ViewBag.Title = "Falha na conexão com o serviço autenticador";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3 class="text-danger">Falha na conexão com o serviço autenticador.</h3>
    <h5 class="text-danger">Tente Mais Tarde!</h5>
    
</hgroup>
