@{
    ViewBag.Title = "Confirmação de Redefinição de senha";
}
<br /><br /><br />
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Sua senha foi reinicializada. <br />
        @Html.ActionLink("Clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
