<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="EmailAddress" value="andre.mesquita@impeto.com.br" />
    <add key="Password" value="#Impet0#" />
    <add key="AutoDiscover" value="https://outlook.office365.com/EWS/Exchange.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>