
@{
    ViewBag.Title = "ProcessarPayPal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
<h2>Indisponibilidade de conexão com o paypal</h2>

<br><br>
<div class="list-header clearfix">
    <h2>Opa! Era para você ter sido redirecionado e tudo bem.</h2>
    <h3>Alguma coisa não saiu como planejado.</h3>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Tenta voltar um passo atrás e tente novamente.<br>
    </div>
</div>