@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Acesso Negado pelo Controle de Pais do Windows";
}
<br><br>
<div class="list-header clearfix">
    <h2>Opa! Acesso negado pelo Controle de Pais do Windows.</h2>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Infelizmente este bloqueio não foi realizado por nós e, portanto,<br>
        a solução não está em nossas mãos. Verifique a configuração do<br />
        Controle de Pais do Windows e tente novamente. <br />
        Se não conseguir, contacte o suporte do aplicativo <br />
        informando a hora e o processo para ajudar a localizar o problema.
    </div>
</div>