@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cookie Não Suportado";
}
<div class="container">
    <div class="row">
        <section class=" col-sm-12 col-lg-12">
            <div class="page-error">
                @*<img src="@Url.Content("~/Layout/images/icons/icon-error.png")" height="129" width="164" alt="Imagem de Erro">*@
                <h1>
                    Opa!
                    <span class="line-title"></span>
                </h1>
                <h2>Cookie Não Suportado(</h2>
                <p class="txt-1"></p>
                </div>
                <div>
                    <a class="btn btn-primary btn-large btn-info" href="http://saladereuniao.impeto.com.br">
                        <span>Voltar para Home</span>
                    </a>
                </div>


            </div>
        </section>
    </div>
</div>
