@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Não Autorizado";
}
<br><br>
<div class="list-header clearfix">
    <h2>Opa! Você não tem acesso a este recurso.</h2>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Verifique suas permissões ou<br>
        contacte o suporte do aplicativo e informe a hora para ajudar a localizar o problema.
    </div>
</div>