@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Não Encontrado";
}
<div class="list-header clearfix">
    <h2>Opa! Este conteúdo não existe.</h2>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Opa, este conteúdo não existe.
        Verifique o endereço digitado.
    </div>
</div>