@{
    ViewBag.Title = "E-Mail de Confirmação enviado";
}
<br /><br /><br />
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Favor verificar sua caixa de e-mails<br />
        e clicar no link para redefinição de senha.
    </p>
</div>

