@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Acesso Negado";
}
<br><br>
<div class="list-header clearfix">
    <h2>Opa! Acesso negado a este recurso.</h2>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Não esperávamos essa. <br>
        Contacte o suporte do aplicativo e informe a hora para ajudar a localizar o problema.
    </div>
</div>