@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tempo Esgotado";
}
<br><br>
<div class="list-header clearfix">
    <h2>Opa! Tempo esgotado. Tente novamente.</h2>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Não conseguimos processar sua última requisição em tempo hábil. <br>
        Tente novamente. Se não conseguir, contacte o suporte do aplicativo <br />
        informando a hora e o processo para ajudar a localizar o problema.
    </div>
</div>