<div class="jumbotron">
    <br />
    <h1>Ímpeto Informática</h1>
    <p class="lead">Internet das Coisas (IoT)</p>
    <p><a href="http://www.Fusion.com.br/internet-das-coisas" class="btn btn-primary btn-lg" target="_blank">Veja mais >></a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Dispositivo IoT</h2>
        <p>@Html.Action("GetArduino")</p>
        <p></p>
    </div>
    <div class="col-md-8">
        <h2>Dispositivos Pareados</h2>
        <p>@Html.Action("GetO365")</p>
        <p></p>
    </div>
</div>
@Html.Action("GoogleAnalytics", "MarketingTags") 
