@{
    ViewBag.Title = "Ímpeto Sala de Reunião";
}
<br />
<div class="jumbotron">
    <h1>Sala de Reunião</h1>
    <p class="lead">Ímpeto Informática</p>
    <p><a href="http://www.impeto.com.br/internet-das-coisas" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Account/Register">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Configure</h2>
        <p></p>
        <p><a class="btn btn-default" href="~/Account/Index">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IoT</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://www.impeto.com.br/internet-das-coisas">&raquo;</a></p>
    </div>
</div>