@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Não Encontrado";
}
<br /><br /><br />

<div class="list-header clearfix">
    <h2>404 - Conteúdo não existe</h2>    
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">        
        Verifique o endereço digitado<br />
        ou recomeçe @Html.ActionLink("AQUI", "Index", "Home", new { area = "" }, null).
    </div>
</div>