<div class="jumbotron">
    <br />
    <h1>Ímpeto Informática</h1>
    <p class="lead">Sala de Reunião</p>
    <p><a href="http://www.impeto.com.br/internet-das-coisas" class="btn btn-primary btn-lg" target="_blank">Veja mais >></a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-8">
        <h2</h2>
        <p></p>
        <p></p>
    </div>
</div>
